{% extends 'layouts/_base.html' %}
{% block body %}
    <ul>
        <li>Status: {{ table.status }}</li>
        <li>Capacity: {{ table.capacity }}</li>
        <div>
            <h3>Orders</h3>
            {% for order in table.all_orders %}
                <h5>
                    {{ order }}
                </h5>
{#                <ul style="text-decoration: none">#}
{#                    <li>is_paid: {{ order.is_paid }}</li>#}
{#                    <li>Status: {{ order.status }}</li>#}
{#                    <li>Table: {{ order.table }}</li>#}
{#                </ul>#}
            {% endfor %}
        </div>
    </ul>
{% endblock %}